/* Global Styles */

* {
    box-sizing: border-box; /* Add box-sizing to all elements */
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%; /* Ensure the body takes the full height */
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #f2f2f2;
}

body {
    display: flex; /* Use Flexbox on body */
    flex-direction: column; /* Stack children vertically */
}

/* Outer Container Styles */

.outer-container {
    flex: 1; /* Allow the outer-container to grow */
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

/* Container Styles */
.container {
    max-width: 330px; /* Make the container thinner */
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form Styles */

.signup-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* Ensure it fills the container's width */
    max-width: 380px; /* Optional: make the signup form slightly thinner */
    height: 350px; /* Adjust the height of the form */
}

.signup-form input {
    padding: 35px;
    font-size: 14px;
    width: 100%;
    border: black;
    border-radius: 5px;
    box-shadow: black;
}

.signup-form input[type="text"], .signup-form input[type="email"],
.signup-form input[type="password"] {
    background-color: #f7f7f7;
}

.signup-form button {
    padding: 10px;
    font-size: 14px;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-form button:hover {
    background-color: #3e8e41;
}

/* Terms and Conditions */

.terms {
    font-size: 12px;
    color: #666;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 20px;
}

.footer-container {
    text-align: center;
    margin-top: 30px;
}

.footer {
    font-size: 14px;
}

.footer a {
    color: #26c6da;
}

/* App Download Styles */

.app-download {
    text-align: center;
}

.app-download img {
    width: 100px;
    height: auto;
    margin: 5px;
}

.app-download a {
    text-decoration: none;
}