body {
    font-family: 'Billabong' ;
    background-color: #fafafa;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px; 
}

.image {
    width: 300px;  
    height: 500px; 
    background-color: #fafafa; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px; 
}

.login-image {
    max-width: 100%; 
    max-height: 100%; 
    object-fit: contain; 
}

.login-container {
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px; 
    height: 500px; 
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #0095f6;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #007bbf;
}

.login-container .divider {
    text-align: center;
    margin: 10px 0;
}

.login-container .divider span {
    background-color: #fafafa;
    padding: 0 10px;
}

.login-container .forget-password {
    text-align: center;
    margin-top: 10px;
}

.login-container .forget-password a {
    color: #0095f6;
    text-decoration: none;
}

footer {
    background-color: #fafafa; 
    padding: 20px;
    text-align: center; 
    font-size: 14px; 
    position: absolute; 
    bottom: 0; 
    width: 100%; 
}

.footer-content {
    max-width: 800px; 
    margin: 0 auto; 
    position: relative; 
}

.footer-links {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    margin-bottom: 10px; 
}

.footer-links a {
    margin: 0 15px; 
    color: #0073e6; 
    text-decoration: none; 
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-language {
    margin-bottom: 10px; 
}

footer p {
    color: #666; 
}